node_modules/
**/node_modules/
dist/
**/dist/
coverage/
**/coverage/
.cache/
**/.cache/
.packs/
**/.packs/
.generated/
**/.generated/
test-results/
**/test-results/
playwright-report/
**/playwright-report/
*.tgz
scripts/fixtures/changesets-action-a45c4d594aa4e2c509dc14a9f2b3b67ba3780d0d.yml
